name: Build and Upload Package

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel build setuptools-scm

      - name: Build package
        run: |
          python -m build --outdir dist/

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package-artifacts
          path: dist/

      - name: Upload to TestPyPI
        if: "!startsWith(github.ref, 'refs/tags')"  # Only upload to TestPyPI on non-tag pushes
        uses: pypa/gh-action-pypi-publish@unstable/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

      - name: Upload to PyPI
        if: startsWith(github.ref, 'refs/tags')  # Only upload to PyPI on tag pushes
        uses: pypa/gh-action-pypi-publish@unstable/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}